header {
  padding: 0.5rem 1rem;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    cursor: pointer;
  }

  .header-title {
    font-weight: bold;
  }

  .header-right {
    display: flex;
    gap: 0.7rem;
  }
}
